.container {
    width: 100%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item {
    width: 80px;
    /* height: 80px; */
    border: 1px solid red;
    background-color: teal;
    color: white;
    text-align: center;
    font-size: 2em;
}

.one {
    order: 2;
}

.two {
    order: 1;
    align-self: center;
}

.three {
    order: 1;
}

.four {
    order: 2;
    align-self:flex-end;
}

.five {

}