.container {
    width: 100%;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: flex-start;
}

.item {
    /*   */
    border: 1px solid red;
    background-color: teal;
    color: white;
    text-align: center;
    font-size: 2em;

    flex-basis: 100px;
    /* 
    По дефолту
    flex-grow: 0;  елементі не зростають
    flex-shrink: 1;
     */
    
     flex: 1 0 100px;

     /* 
     flex-grow: 1; - елементи зростають
     flex-shrink: 0; - елементи не стискаються
     flex-basis: 100px;
     */

     flex: 1;

     /* 
     flex-grow: 1;
     flex-shrink: 1;
     рівномірно зростають і рівномірно стискаються = гнучкий макет (резиновий)
     */
}

.one {
    flex-grow: 1;
}

.two {
    /* white-space: nowrap; */
    flex-grow: 3;
}

.three {
    flex-grow: 2;
}

.four {
    flex-grow: 1;
}

.five {
    flex-grow: 2;
}

/* 

Flex Child

Order - порядок елементу в потоці серед інших флекс-дітей
Чим більше значення, тим пізніше буде йти елемент серед інших. За однакового значенн вастивості елементи стають за своїм порядком у потоці.

Align-self - розташування себе (конкретного елементі за побічною вісью). Для цоьго елеенту перевизначає align-items

Розміри елементів:

Flex-basis - ОРІЄНТОВНИЙ (базовий) розмір елементу за головною віссю
Flex-grow - коефіціент зростання розміру елементу (поголовній)

Розрахунок коефіціенту

parent container = 1000px
Зайнято - flex-basis*5 = 500px
Вільне = 500px

1	1	1	1	1

Сума коефіціентів = 5
Вільне місце / суму коефіціентів = 500/5 = 100px (доля вільного місця)

Розмір елементу = flex-basis + (доля вільного місця) * коефіціент = 100px + 100px * 1 = 200px

-------------
Інша ситуація:

1	2	1	1	1
Сумма коефіціентів = 6
Доля вільного місйя = вільне місцу / суму коефіціетів = 500/6=83.3
Розмір елементів = 

100+83.3*1	100+83.3*2	100+83.3*1	100+83.3*1	100+83.3*1		
183.3		266.6		183.3		183.3		183.3
------------
1	3	2	1	2
flex-basis = 100px
батьківський = 1000px

Сумма = 9
Доля = 500/9=55.5px
Розмір
100+55.5*1	100+55.5*3	100+55.5*2	100+55.5*1	100+55.5*2
155.5		266.5		211		155.5		211


Flex-shrink


content => width/height => flex-basis => max-width/height=>min-width/height
flex-basis => content

flex (скорочення) 

*/